.search-input {
    padding: 13px 24px;
    border: none;
    outline: none;
    box-shadow: 0 4px 10px rgb(0 0 0 / 12%), 0 0 1px rgb(0 0 0 / 5%) inset;
    width: 320px;
    caret-color: #E16120;
}

.search-input::placeholder {
    opacity: 1;
    transition: .5s ease-in;
}

.search-input:focus::placeholder {
    opacity: 0;
}

.search-btn {
    background-color: #E16120;
    color: white;
    border: 1px solid white;
    width: 46px;
    height: 46px;
    transition: .5s ease-in-out;
}

.search-btn:hover {
    background-color: white;
    color: #E16120;
    transform: scale(.9);
}

@media (max-width:576px) {
    .search-input {
        width: 200px;
    }
}