@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');

body {
  font-family: 'Raleway', sans-serif !important;
}

.orange {
  color: #E16120;
}

.loader-image {
  width: 80px;
}

.details-box .box {
  background: rgba(0, 0, 0, 0.02);
  border: 1px solid #E16120;
}

.details-box .box p {
  line-height: 1.7;
}


